<div class="post-border shadow">
    <div class="panel panel-default post-panel">
        <div class="panel-body">
            <div class="post-title">خطای 404</div>
            <div class="post-text"><br>
                صفحه مورد نظر شما یافت نشد!
            </div>
        </div>
    </div>
</div>

